@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

* {
  @include reset;
  box-sizing: border-box;
  outline: none;
}

*::before, *::after {
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  @include reset;
}

ul, ol {
  @include reset;
  list-style-type: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

button {
  border: 0;
}

img, video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body, input, button, textarea, select {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 32px;
}


